 /* Faire le container de l'accueil*/ 
.description_container {
    display: flex;
    justify-content: center;
    width: 70%;
}
/* taille de l'image */
.description_container img {
    height: 400px;
    box-shadow: 0px 0px 50px -20px black;
    border-radius: 10px;
}
/* Description */
.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
/* Le paragraphe de la description */
.description p {
    width: 70%;
    font-size: 20px;
    line-height: 25px;
}
